@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Rajdhani:wght@700&display=swap");
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(-45deg, #3b66ab, #3a92c2) no-repeat;
  font-family: "Barlow", sans-serif;
  font-size: 1.6rem;
  font-optical-sizing: auto;
}

.glow {
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 2px #e2c34b;
  }
  to {
    text-shadow: 0 0 2px #fff, 0 0 3px #e2c34b;
  }
}

.logo {
  font-family: "Rajdhani", sans-serif;
  font-size: 12.8rem;
  color: #e2c34b;
  text-shadow: 0.5rem 0.5rem 0.5rem #3b66ab;
}

.box-shadow {
  box-shadow: 0.5rem 0.5rem 0.5rem #3b66ab;
}

.box-shadow:hover {
  animation: shadowAdjust 0.5s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes shadowAdjust {
  100% {
    box-shadow: 1rem 1rem 2rem #3b66ab;
  }
}

.areacheck {
  background-color: darkmagenta;
}

.buttonFont {
  font-size: 9.6rem;
}

.btn-filter {
  -moz-column-count: 2;
  column-count: 2;
  margin: 35% 5% 25% 0;
  background-color: white;
  color: black;
  border-radius: 15px;
  padding: 5% 0 5% 10%;
}

.filter-columns {
  -moz-column-count: 3;
  column-count: 3;
}

.search {
  width: 100%;
  border: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 15px;
  color: white;
  -moz-text-align-last: right;
       text-align-last: right;
}

.container {
  max-width: 75vw;
}

.movieCard img {
  filter: brightness(85%);
}

.movieCard img:hover {
  animation: blur 0.65s ease;
  animation-fill-mode: forwards;
}
@keyframes blur {
  100% {
    filter: brightness(95%);
  }
}

.movieCard:hover {
  animation: tilt 0.65s ease;
  animation-fill-mode: forwards;
}
@keyframes tilt {
  100% {
    transform: scale(105%);
  }
}

.card {
  padding: auto;
}

.card-body {
  padding: auto;
}

.profilePage h5 {
  font-size: 2rem;
}

.profilePage h1 {
  font-size: 4rem;
}

.profilePage .row div:first-child {
  color: #e2c34b;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.modalStyle {
  position: relative;
  top: 50%;
  left: 49.7%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 75%;
  background-color: #2c2c2c;
  border-radius: 15px;
  box-shadow: 24;
  padding: 4rem;
  color: white;
  overflow-x: auto;
}

.movieDetails {
  position: relative;
  top: 50%;
  left: 49.7%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 75%;
  background-color: #2c2c2c;
  border-radius: 15px;
  border-top: solid 0.25rem rgba(255, 255, 255, 0.5);
  border-left: solid 0.25rem rgba(255, 255, 255, 0.5);
  box-shadow: 2.4rem 2.4rem 2.4rem rgba(0, 0, 0, 0.7);
  padding: 0;
  color: white;
  overflow-x: hidden;
}

.movieDetails .image-container {
  max-height: 65%;
  overflow: hidden;
  border-radius: 15px;
}

.movieDetails h3 {
  color: #e2c34b;
  font-style: bold;
}

.image-container img {
  -webkit-mask-image: linear-gradient(rgb(0, 0, 0) 30%, rgba(0, 0, 0, 0.3) 45%, rgba(0, 0, 0, 0) 56%);
          mask-image: linear-gradient(rgb(0, 0, 0) 30%, rgba(0, 0, 0, 0.3) 45%, rgba(0, 0, 0, 0) 56%);
}

.castCard {
  min-height: 16rem;
}

.height-5 {
  height: 5rem;
}

.height-10 {
  height: 10rem;
}

.searchBar {
  max-height: 5.5rem;
}

.opacity-50 {
  opacity: 50%;
}

.opacity-25 {
  opacity: 25%;
}

.about {
  color: white;
}

.about a {
  text-decoration-style: dashed;
  text-decoration-thickness: 1px;
  color: white;
}

@media (any-pointer: coarse) {
  .container {
    max-width: 95vw;
  }
  .logo {
    font-size: 7rem;
  }
  .card {
    min-height: 23rem;
  }
  .search {
    width: 100%;
  }
  .filter-columns {
    -moz-column-count: 2;
    column-count: 2;
  }
  .movieDetails {
    width: 95%;
  }
  .movieDetails .image-container {
    max-height: 50%;
  }
  .modalStyle {
    width: 100%;
    padding: 2rem;
    overflow-x: hidden;
  }
  .movieCard {
    max-width: 50%;
    margin-bottom: 1rem;
  }
}
.loading {
  padding: 0;
  color: white;
  margin: 0;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.books {
  vertical-align: bottom;
}

.book p {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-top: var(marginTop);
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 25%;
          margin-block-end: 25%;
  animation: textSkew 2s ease infinite alternate;
  transform-origin: bottom;
  animation-delay: var(animationDelay);
}
@keyframes textSkew {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(22deg);
  }
}

.book {
  background-color: white;
  width: var(width);
  height: var(height);
  margin-left: var(margin);
  display: inline-block;
  animation: bookTilt 2s ease infinite alternate;
  transform-origin: top;
  animation-delay: var(animationDelay);
}
@keyframes bookTilt {
  0% {
    filter: grayscale(50%);
  }
  50% {
    filter: grayscale(50%);
  }
  100% {
    filter: grayscale(50%);
  }
}

.bookTop {
  background-image: linear-gradient(to right, rgb(146, 145, 145) 15%, rgb(236, 236, 236) 100%);
  width: 70%;
  height: 3rem;
  clear: both;
  margin: auto;
  animation: tiltBooks 2s ease infinite alternate;
  transform-origin: top;
  animation-delay: var(animationDelay);
}

.shadow {
  box-shadow: 0rem 1rem 1rem #2e6e97;
  animation: tiltShadow 2s ease infinite alternate;
  transform-origin: top;
  animation-delay: var(animationDelay);
}
@keyframes tiltShadow {
  0% {
    box-shadow: 0.1rem 2rem 1rem #2e6e97;
  }
  50% {
    box-shadow: 0.1rem 2rem 1rem #2e6e97;
  }
  100% {
    box-shadow: 0.2rem 0.2rem 0.3rem #2e6e97;
  }
}

.bgNeg {
  background-color: #3a8bbe;
  height: 0.4rem;
  animation: tiltBooks 2s ease infinite alternate;
  transform-origin: top;
  animation-delay: var(animationDelay);
}

@keyframes tiltBooks {
  0% {
    transform: scale(100%, 0%);
  }
  50% {
    transform: scale(100%, 0%);
  }
  100% {
    transform: scale(100%, 100%);
  }
}/*# sourceMappingURL=books_animation.css.map */